.about-container {
  font-family      : 'Work Sans', sans-serif;
  position         : relative;
  top              : 72px;
  margin-bottom    : 7.2rem;
  background-color : @primary;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  clip-path        : polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  color            : @white;

  @media (max-width: 968px) {
    top      : 72px;
    -webkit-clip-path: none;
            clip-path: none;
    width    : 100%;
  }
  @media @mobile {
    top      : 0;
    -webkit-clip-path: none;
            clip-path: none;
    width    : 100%;
    margin   : 0;
  }

  .about-section {
    .flex(column);
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding  : 4rem 2rem;

    @media @mobile {
      width : 100%;
      margin: 0;

    }

    .about-content {
      .flex();

      .profile {
        .flex(column);
        margin-top: 3rem;

        @media @mobile {
          width : 100%;
          margin: 3rem 0;
        }

        h2 {
          margin   : 1rem auto;
          padding  : 0.8rem 1rem;
          font-size: 3rem;
          position: relative;
          &::after {
            position        : absolute;
            content         : '';
            height          : 3px;
            width           : 56px;
            bottom          : 0;
            left            : 20px;
            background-color: @white;
          }
        }

        .about-card {
          width : 350px;
          height: 300px;
          margin: 1rem;
          .flex();
          -webkit-box-shadow       : 0px 3px 5px 1px rgba(48, 37, 37, 0.459);
                  box-shadow       : 0px 3px 5px 1px rgba(48, 37, 37, 0.459);
          border-radius    : 6px;
          background-repeat: no-repeat;
          background-size  : 100% 100%;

          @media @mobile {
            width : 100%;
            margin: auto;
          }

          -webkit-transition: 0.2s ease-in-out;

          transition: 0.2s ease-in-out;

          &:hover {
            -webkit-transform : scale(1.03, 1);
                    transform : scale(1.03, 1);
            -webkit-transition: 0.2s ease-in-out;
            transition: 0.2s ease-in-out;
          }

          .card-content {
            .flex(column);
            display         : none;
            background-color: rgba(70, 46, 46, 0.459);
            border-radius   : 6px;

            h3 {
              font-size: 2.5rem;
              padding  : 1rem 0;
            }

            p {
              margin-top: 2rem;
              color     : white;
              text-align: center;
              font-size : 2.5rem;
              padding: 2rem;
            }

            .social {
              margin-top: 2rem;

              ul {
                .flex();
                margin-top: 2rem;

                li {
                  padding: 1rem;

                  a {
                    text-decoration: none;

                    i {
                      font-size: 4rem;
                      color    : white;

                      &.twitter:hover {
                        color     : @twitterColor;
                        -webkit-transition: .5s ease-in-out;
                        transition: .5s ease-in-out;
                        -webkit-animation : twitter 1s infinite;
                                animation : twitter 1s infinite;
                      }

                      &.facebook:hover {
                        color     : @facebookColor;
                        -webkit-transition: .5s ease-in-out;
                        transition: .5s ease-in-out;
                        -webkit-animation : facebook 1s infinite;
                                animation : facebook 1s infinite;

                      }

                      &.linkedin:hover {
                        color     : @linkedinColor;
                        -webkit-transition: .5s ease-in-out;
                        transition: .5s ease-in-out;
                        -webkit-animation : linkedin 1s infinite;
                                animation : linkedin 1s infinite;
                      }

                      &.github:hover {
                        color     : @githubColor;
                        -webkit-transition: .5s ease-in-out;
                        transition: .5s ease-in-out;
                        -webkit-animation : github 1s infinite;
                                animation : github 1s infinite;
                      }
                    }
                  }
                }
              }
            }
          }

        }
      }
    }
  }

  h1 {
    font-size     : 3rem;
    margin-bottom : 4rem;
    padding-bottom: 1rem;
    font-weight   : bold;
    text-align    : center;
    position      : relative;

    &::after {
      content         : '';
      position        : absolute;
      height          : 3px;
      width           : 60px;
      background-color: @white;
      bottom          : 0;
      left            : 20px;
    }
  }

  article {
    margin-bottom: 3rem;

    p {
      line-height: 1.5;
      font-size  : 2rem;
      text-align : center;

      @media @mobile {
        text-align: justify;
      }
    }
  }

}

@-webkit-keyframes facebook {
  from {
    color: white;
  }

  to {
    color: @facebookColor;
  }
}

@keyframes facebook {
  from {
    color: white;
  }

  to {
    color: @facebookColor;
  }
}

@-webkit-keyframes twitter {
  from {
    color: white;
  }

  to {
    color: @twitterColor;
  }
}

@keyframes twitter {
  from {
    color: white;
  }

  to {
    color: @twitterColor;
  }
}

@-webkit-keyframes github {
  from {
    color: white;
  }

  to {
    color: @githubColor;
  }
}

@keyframes github {
  from {
    color: white;
  }

  to {
    color: @githubColor;
  }
}

@-webkit-keyframes linkedin {
  from {
    color: white;
  }

  to {
    color: @linkedinColor;
  }
}

@keyframes linkedin {
  from {
    color: white;
  }

  to {
    color: @linkedinColor;
  }
}